Source: libsyslog4j0.9-java
Section: java
Priority: optional
Maintainer: Andrey Domas <andrey.domas@gmail.com>
Build-Depends: debhelper (>= 8), default-jdk, javahelper (>= 0.43) 
Standards-Version: 3.9.3
Homepage: http://syslog4j.org

Package: libsyslog4j0.9-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: Complete Syslog Implementation for Java
 Syslog4j provides client and server implementations of the BSD Syslog protocol (RFC 3164) and the Structured Syslog protocol (RFC 5424).
